@tailwind base;
@tailwind components;
@tailwind utilities;

.rubik-light {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

.rubik-regular {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.rubik-bold {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}
